<% @messages.each do |message| %>
  <tr>
    <td>
      <%= message.user.name + "(" + message.user.nickname + ")" %>
    </td>
    <td>
      <%= message.sender_name %>
    </td>
    <td>
      <%= message.content %>
    </td>
    <% if message.create_date %>
      <td>
        <%= message.create_date.strftime(DMY_FORMAT) %>
      </td>
    <% else %>
      <td>
        <%= message.create_date %>
      </td>
    <% end %>
    <td>
        <%= link_to destroy_messages_admin_index_path(id: message.id), data: { confirm: 'Are You Sure?' }, method: :delete do %>
        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
      <% end %>
    </td>
  </tr>
<% end %>